__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/

*.ckpt
*.pt
*.pth
*.onnx
*.safetensors

*.wav
*.flac
*.mp3
*.zip
*.tar
*.tar.gz

*_results/
results/
outputs/
exp/
logs/
lightning_logs/
runs/
wandb/

*.png
*.pdf
*.pptx
*.docx
*.csv
*.tsv

.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
